.cde-component-container > div {
    padding-top: 20px;
    padding-bottom: 20px;
}


.cde-component-outer {
    border: 1px solid #e8e8e8;
    resize: horizontal;
}

.cde-component {
    padding-left: 20px;
    overflow: auto;
    resize: horizontal;
    max-width: 100%;
    min-width: 50px;
}
