.component-bar-container {
    background-color: #f5f5f5;
    border-right: 1px #e8e8e8 solid;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 250px;
}

.component-bar-header {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 18px;
}

.component-bar-links {
    padding-top: 12px;
}

.component-bar-links-list li {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 20px;
}

.component-bar-links-list li:hover {
    color: #f28a25;
    cursor: pointer;
}

.component-bar-links-selected {
    color: #1978c8;
}
