

.buttons-container {
    display: flex;
    /* padding-top: 20px; */
    padding-bottom: 20px;
}

.buttons-container input {
    width: 21%;
    margin-left: 2px;

    margin-right: 10px;
}

.buttons-container button {
    margin-right: 10px;
}

