.prop-type-container {
    display: flex;
    /* border-bottom: 1px solid #e8e8e8; */
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
}

.prop {
    font-weight: bold;
}

.value {

}

.prop-type-container .value {
    margin-left: 20px;
}

.arr-container {
    /* display: flex; */
}

.arr-container .key {
    padding-bottom: 5px;
}

.arr-container .value {
    margin-left: 20px;
}

.obj-container {
    display: flex;
    /* padding-bottom: 5px; */
}

.obj-container .key {
    /* padding-bottom: 5px; */
}

.obj-container .value {
    margin-left: 20px;
}


.key-value-pairs {
    display: flex;
}

/* .key-value-pairs > div { */
/*     margin-right: 10px; */
/* } */

/* .flow-type { */
/*     font-family: 'Menlo'; */
/*     background-color: #f5f5f5; */
/* } */

.primitive-container {
    display: flex;
}

.primitive-container .primitive {
    padding-right: 10px;
}

.key .ant-btn.ant-btn-dashed.ant-btn-sm {
    background: #f2f4f5;
    color: #314659;
    border: 1px solid #eee;
    font-size: .9em;
    font-family: 'Menlo';
    margin-right: 5px;
}

.key .ant-btn.ant-btn-primary.ant-btn-sm {
    font-size: .9em;
    font-family: 'Menlo';
    margin-right: 5px;
}

.key .ant-btn.ant-btn-default.ant-btn-sm {
    font-size: .9em;
    font-family: 'Menlo';
    margin-right: 5px;
    border: 1px solid #1890ff;
    color: #1890ff;
}


