* {
    box-sizing: border-box;
}

/* figure out reseting */
a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: pointer;
}

input, button, submit { border:none; background-color: transparent;}

ul, li {
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
}
/* ------------------- */

button:focus {outline :0;}

html {
    height: 100%;
    color: #222;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;

}

#root {
    height: 100%;

}
